In [1]:
import pandas as pd
import numpy as np
import dataio

In [2]:
path = "flights_2006_2010.csv"
df = pd.read_csv('flights_2006_2010.csv', sep='\t', encoding='utf-8', dtype={'FlightDate': 'str', 'ArrTime': 'str', 'DepTime': 'str'})

KeyboardInterrupt:

In [7]:
df['FlightDate'] = pd.to_datetime(df["FlightDate"], format='%Y-%m-%d').dt.date

df["DepTime"] = df["DepTime"].replace('2400', '0000')
df["ArrTime"] = df["ArrTime"].replace('2400', '0000')

def to_time(col):
    col = pd.to_numeric(col)
    col = (col/100).apply(np.floor) + (col.mod(100)) / 60.
    return col

df["DepTime"] = to_time(df["DepTime"])
df["ArrTime"] = to_time(df["ArrTime"])

In [15]:
df.head()

,FlightDate,UniqueCarrier,TailNum,Origin,OriginCityName,OriginState,Dest,DestCityName,DestState,CRSDepTime,...,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006-01-01,AA,N325AA,JFK,New York,NY,LAX,Los Angeles,CA,900,...,0.0,370.0,384.0,350.0,2475.0,0.0,0.0,19.0,0.0,0.0
1,2006-01-02,AA,N338AA,JFK,New York,NY,LAX,Los Angeles,CA,900,...,0.0,370.0,419.0,343.0,2475.0,167.0,0.0,49.0,0.0,0.0
2,2006-01-03,AA,N319AA,JFK,New York,NY,LAX,Los Angeles,CA,900,...,0.0,370.0,375.0,344.0,2475.0,NaN,NaN,NaN,NaN,NaN
3,2006-01-04,AA,N338AA,JFK,New York,NY,LAX,Los Angeles,CA,900,...,0.0,370.0,362.0,331.0,2475.0,NaN,NaN,NaN,NaN,NaN
4,2006-01-05,AA,N339AA,JFK,New York,NY,LAX,Los Angeles,CA,900,...,0.0,370.0,356.0,321.0,2475.0,NaN,NaN,NaN,NaN,NaN

In [10]:
df.keys()

Index(['FlightDate', 'UniqueCarrier', 'TailNum', 'Origin', 'OriginCityName',
       'OriginState', 'Dest', 'DestCityName', 'DestState', 'CRSDepTime',
       'DepTime', 'DepDelay', 'TaxiOut', 'WheelsOff', 'WheelsOn', 'TaxiIn',
       'CRSArrTime', 'ArrTime', 'ArrDelay', 'Cancelled', 'CancellationCode',
       'Diverted', 'CRSElapsedTime', 'ActualElapsedTime', 'AirTime',
       'Distance', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
       'LateAircraftDelay'],
      dtype='object')

In [11]:
df.to_parquet("flights_2006_2010.parquet", index=False)

In [13]:
!ls -l flights*

-rw-r--r--  1 donnybertucci  staff      163402 Nov 15 23:34 flights-10k.arrow
-rw-r--r--  1 donnybertucci  staff      409627 Nov 15 23:34 flights-10k.csv
-rw-r--r--  1 donnybertucci  staff      419234 Nov 15 23:34 flights-10k.json
-rw-r--r--  1 donnybertucci  staff    16003402 Nov 15 23:34 flights-1m.arrow
-rw-r--r--  1 donnybertucci  staff    32221440 Nov 15 23:34 flights-1m.csv
-rw-r--r--  1 donnybertucci  staff     7301503 Nov 15 23:34 flights-1m.parquet
-rw-r--r--  1 donnybertucci  staff     8069113 Nov 15 23:34 flights-200k.csv
-rw-r--r--  1 donnybertucci  staff    96799077 Nov 15 23:34 flights-3m.csv
-rw-r--r--  1 donnybertucci  staff    18564267 Nov 15 23:34 flights-500k.csv
-rw-r--r--  1 donnybertucci  staff       10465 Mar  8 16:49 flights.ipynb
-rw-r--r--@ 1 donnybertucci  staff  5362072457 Mar  8 16:33 flights_2006_2010.csv
-rw-r--r--  1 donnybertucci  staff   731775437 Mar  8 16:49 flights_2006_2010.parquet

In [14]:
# format number with commas
print(f"{len(df):,}")

34,507,508

## If I have the parquet file already

In [7]:
PATH = "flights/flights-35m.parquet"

In [3]:
df = dataio.n_rows_parquet("flights/flights-35m.parquet", 10_000).to_pandas()
df.head()

,FlightDate,UniqueCarrier,TailNum,Origin,OriginCityName,OriginState,Dest,DestCityName,DestState,CRSDepTime,...,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006-01-01,AA,N325AA,JFK,New York,NY,LAX,Los Angeles,CA,900,...,0.0,370.0,384.0,350.0,2475.0,0.0,0.0,19.0,0.0,0.0
1,2006-01-02,AA,N338AA,JFK,New York,NY,LAX,Los Angeles,CA,900,...,0.0,370.0,419.0,343.0,2475.0,167.0,0.0,49.0,0.0,0.0
2,2006-01-03,AA,N319AA,JFK,New York,NY,LAX,Los Angeles,CA,900,...,0.0,370.0,375.0,344.0,2475.0,NaN,NaN,NaN,NaN,NaN
3,2006-01-04,AA,N338AA,JFK,New York,NY,LAX,Los Angeles,CA,900,...,0.0,370.0,362.0,331.0,2475.0,NaN,NaN,NaN,NaN,NaN
4,2006-01-05,AA,N339AA,JFK,New York,NY,LAX,Los Angeles,CA,900,...,0.0,370.0,356.0,321.0,2475.0,NaN,NaN,NaN,NaN,NaN

In [6]:
df.to_json("flights/flights-10k.json", orient="records")

In [14]:
df = dataio.n_rows_parquet("flights_2006_2010.parquet", 100_000).to_pandas()
df.to_json("flights/flights-100k.json")
!ls -lh flights

total 95016
-rw-r--r--  1 donnybertucci  staff    42M Apr  5 17:37 flights-100k.json
-rw-r--r--  1 donnybertucci  staff   4.0M Apr  5 17:37 flights-10k.json

In [11]:
columns = ["FlightDate",
		"OriginState",
		"DestState",
		"DepDelay",
		"ArrDelay",
		"Distance"]

In [9]:
import pyarrow as pa

In [12]:
df = dataio.n_rows_parquet(PATH, 1_000_000).to_pandas()
dataio.table_to_arrow_file(pa.Table.from_pandas(df[columns]), "flights/flights-1m.arrow")
!ls -lh flights

total 2064512
-rw-r--r--  1 donnybertucci  staff    42M Apr  5 17:37 flights-100k.json
-rw-r--r--  1 donnybertucci  staff   5.8M Apr  5 18:29 flights-10k.json
-rw-r--r--  1 donnybertucci  staff   203M Apr  5 17:40 flights-10m.parquet
-rw-r--r--  1 donnybertucci  staff    38M Apr 11 18:54 flights-1m.arrow
-rw-r--r--  1 donnybertucci  staff    20M Apr  5 17:39 flights-1m.parquet
-rw-r--r--  1 donnybertucci  staff   698M Mar  8 16:49 flights-35m.parquet

In [15]:
df = dataio.n_rows_parquet("flights_2006_2010.parquet", 1_000_000)
dataio.table_to_arrow_file(df, "flights/flights-1m.arrow")
!ls -lh flights

total 575624
-rw-r--r--  1 donnybertucci  staff    42M Apr  5 17:37 flights-100k.json
-rw-r--r--  1 donnybertucci  staff   4.0M Apr  5 17:37 flights-10k.json
-rw-r--r--  1 donnybertucci  staff   235M Apr  5 17:39 flights-1m.arrow

In [16]:
df = dataio.n_rows_parquet("flights_2006_2010.parquet", 1_000_000)
dataio.table_to_parquet_file(df, "flights/flights-1m.parquet")
!ls -lh flights

total 617104
-rw-r--r--  1 donnybertucci  staff    42M Apr  5 17:37 flights-100k.json
-rw-r--r--  1 donnybertucci  staff   4.0M Apr  5 17:37 flights-10k.json
-rw-r--r--  1 donnybertucci  staff   235M Apr  5 17:39 flights-1m.arrow
-rw-r--r--  1 donnybertucci  staff    20M Apr  5 17:39 flights-1m.parquet